**/cmake-build-debug
**/.idea
*/txt



# Prerequisites
*.d

# Compiled Verified_object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.run/
/Archiwum/
/Python_Scripts/Calibration_Images/*
/Hw_params/
/Python_Scripts/Calibration_Images/
/Python_Scripts/Distortion_vectors/
/Python_Scripts/External_camera_matrices/
/Python_Scripts/Internal_camera_matrices/
/Python_Scripts/Result_by_device/
